@import url('./item.css');

ul, li, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

@media screen and (max-width: 1000px ){
    body {
        font-size: 20px;
    }
}

button {
    display: block;
    margin: auto;
    border: 0;
    padding: .5rem .8rem;
    background: #1C85AC;
    color: white;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
